#splash
  .wrapper
    .theme-background#themeback-one
    .background-overlay
      .notist-logo
      %div.connect-fb-button
        = link_to content_tag(:span, 'Connect with Facebook'), omniauth_authorize_path(:user, :facebook), :class => "btn btn-large btn-block", :id => "splash-login-button"
      .big-splash
        %h1
          Discuss. Annotate. Comprehend.
        %h2
          Share and discuss notes with your friends and classmates.
    .footer
      %ul
        %li
          &copy
          2014
          &nbsp
          %span.copyright
            the notist
        %li
          |
        %li
          %a.splash-link{:href => '/about#about'}
            about
        %li
          %a.splash-link{:href => '/about#legal'}
            legal
        %li
          %a.splash-link{:href => '/about#faq'}
            faq
        %li
          |
        %li
          %a.twitter-link{:href => 'https://twitter.com/thenotist', :target => '_blank'}
            %i.icon-twitter
            follow
        %li
          %a.twitter-link{:href => '#', :target => '_blank'}
            %i.icon-facebook
            facebook
