.create-new-note-container{:'ng-controller' => 'UploadCtrl' }
  .create-new-note-button.btn.btn-large.btn-primary{ "data-toggle" => "modal", "data-target" => ".new-note-form-container" }
    %i.icon-circle-arrow-up.icon-white
    Upload a new note

  .new-note-form-container.modal.hide.fade{ :role => :dialog, :tabindex => -1, "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
    .upload_form-container.modal-body
      .btn.btn-large.select-file.control-group{:'ng-disabled' => '!controlsEnabled', :'ng-class' => "{error: fileError, success: !fileError && modified}", :'ng-simulate-click' => 'file-picker' }
        %i.upload-status-icon{:'ng-class' => "{'icon-plus': fileError || !modified, 'icon-file-alt': !fileError && modified}" }
        .upload-status-text {{statusText}}
        .upload-status-text-secondary {{statusText2}}

      .form-container
        =form_for :new_note, :html => { :id => "upload_form_tag", :'ng-submit' => 'submit()' } , :url => notes_path, :method => :post do |f|
          #title-field.text-field.control-group{:'ng-class' => "{error: titleError, success: !titleError && modified}" }
            =f.text_field :title, :id => 'note-title-field', :placeholder => "Enter note title", :'ng-model' => 'newNote.title', :'ng-disabled' => '!controlsEnabled', :'ng-keyup' => 'validateUploadForm()'
            %i.status-icon.success-icon.icon-check-sign{:'ng-hide' => '!validated'}
            %i.status-icon.error-icon.icon-ban-circle.hidden{:'ng-hide' => 'fileError || titleError'}

          #description-field.text-field
            =f.text_field :description, :id => 'note-description-field', :placeholder => "Enter note description (optional)", :'ng-disabled' => '!controlsEnabled', :'ng-model' => 'newNote.description'
          %p.new-file-upload.hidden= f.file_field :file, :id => 'file-picker', :'ng-upload' => 'uploadAdd(data)'
          %input#upload-submit-btn.hidden.submit-btn-placeholder{:type => 'submit'}

    .upload-interaction.modal-footer
      .upload-progress{:'ng-hide' => '!uploadShowing'}
        .spinner-container
        .upload-progress-text
          {{progressText}}
        .progress.progress-success
          .bar{ :'ng-style' => "{'width':progressPercent}" }
      .spinner-container{:'ng-hide' => '!processingShowing', :'ng-spinner' => '{{processingShowing}}'}
      .processing-label{:'ng-hide' => '!processingShowing'} This can take several minutes. You will be automatically redirected to your note when processing is done.
      .btn.btn-primary.submit-action{:'ng-disabled' => '!controlsEnabled', :'ng-click' => 'submitClicked()'}
        %i.submit-action-icon.icon-cloud-upload
        .submit-action-text
          %span{ :'ng-hide' => 'uploadShowing || processingShowing'}
            Upload
          %span{ :'ng-hide' => '!uploadShowing'}
            Uploading...
          %span{ :'ng-hide' => '!processingShowing'}
            Processing...
