.notes-index-page
  %h1 Notes

  = render 'upload_form'

  .notes-list-container
    .notes-list
      - @notes.each do |note|
        .notes-list-item
          = link_to note.title, note_path(note), :class => 'text-link'
          = link_to "Delete", note_path(note), :method => :delete, :class => 'btn btn-danger'
          = link_to "Edit", edit_note_path(note), :class => 'btn btn-warning'
