.notes-header
  %h1 Notes
  .search-box.form-group
    %input.form-control{:type => 'text'}
    %span.input-icon.icon-search
  .sorting-options
    %ul
      %li.btn.active
        Name
      %li.btn
        Date
      %li.btn
        Shared
      %li.btn
        Uploaded



.notes-index-page{ :'ng-controller' => 'NotesCtrl' }
  .notes-list-container
    .notes-list
      .notes-list-item.upload-form
        = render 'upload_form'
      - @notes.each_with_index do |note, index|
        .notes-list-item{ :data => {:id => note.id}, :'ng-mouseover' => 'hideTooltip()' }
          = render 'grid_item', :note => note, :shared => false, :index => index
      - @shared_notes.each do |note|
        .notes-list-item{ :data => {:id => note.id} }
          = render 'grid_item', :note => note, :shared => true
                  
  .modal-container-container{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
    .modal-container{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
      %a.thumb-container{ :'ng-repeat' => "image in overview.images", :'ng-href' => "{{image.pageUrl}}" }
        %img.thumb-image{ :'ng-src' => "{{image.src}}" }
  .full-screen-overlay{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
