.notes-header
  %h1 Notes
  .sorting-options
    %ul
      %li.btn.active
        Name
      %li.btn
        Date
      %li.btn
        Shared
      %li.btn
        Uploaded



.notes-index-page{ :'ng-controller' => 'NotesCtrl' }
  .notes-list-container
    .notes-list
      %ul
        %li.notes-list-item.upload-form
          = render 'upload_form'
        - @notes.each_with_index do |note, index|
          %li.notes-list-item{ :data => {:id => note.id}, :'ng-mouseover' => 'hideTooltip()' }
            = render 'grid_item', :note => note, :shared => false, :index => index
        - @shared_notes.each do |note|
          %li.notes-list-item{ :data => {:id => note.id} }
            = render 'grid_item', :note => note, :shared => true
                  
  .modal-container-container{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
    .modal-container{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
      %a.thumb-container{ :'ng-repeat' => "image in overview.images", :'ng-href' => "{{image.pageUrl}}" }
        %img.thumb-image{ :'ng-src' => "{{image.src}}" }
  .full-screen-overlay{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
