.notes-index-page
  %h1 NOTES

  = render 'upload_form'

  .notes-list-container
    .notes-list
      %ul
        - @notes.each do |note|
          %li.notes-list-item
            = render 'grid_item', :note => note, :shared => false
        - @shared_notes.each do |note|
          %li.notes-list-item
            = render 'grid_item', :note => note, :shared => true
                  
  .modal-container-container.hidden
    .modal-container
  .full-screen-overlay.hidden
.template.thumb-container
  %img.thumb-image
