.notes-header
  %h1 Notes
  .sorting-options
    %ul
      %li.btn
        Name
      %li.btn
        Date
      %li.btn
        Shared
      %li.btn
        Uploaded
  .upload-form
    = render 'upload_form'



.notes-index-page
  .notes-list-container
    .notes-list
      %ul
        - @notes.each_with_index do |note, index|
          %li.notes-list-item{ :data => {:id => note.id} }
            = render 'grid_item', :note => note, :shared => false, :index => index
        - @shared_notes.each do |note|
          %li.notes-list-item{ :data => {:id => note.id} }
            = render 'grid_item', :note => note, :shared => true
                  
  .modal-container-container.hidden
    .modal-container
  .full-screen-overlay.hidden
.template.thumb-container
  %img.thumb-image
