%div.fb-friends{:style => "float:right"}
  %h3 Unresolved Flag Reports (#{@flagreports.count})
  .friends-list
    - @flagreports.each do |report|
      .friends-list-item
        .friend-info
          .profile-link-container= report.note.title
          .profile-link-container= report.created_at
          = link_to "Show", :controller => :notes, :action => :show, :id => report.note.id
          