// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$activity-item-background-color: #FFFFFF;
$sub-section-background-color: #FAFAFA;
$comment-type-color: #85A4CC;
$note-type-color: #BD476C;
$user-type-color: #A5BA3D;

.feed-wrapper {
  margin: 0 auto;
  margin-top: 35px;
}

.feed-header {
  height: 65px;
  border-bottom: #ECF0F1 solid 2px;
  position: relative;
  h1 {
    float: left;
    clear: both;
  }

  .sorting-options {
    position: absolute;
    right: 10px;
    bottom: 0px;
  }
}

.activity-item-border {
  float: left;
  border-left: 3px solid #ededed;
  margin-left: 19px;
  margin-bottom: 10px;
  clear: both;
}

.activity-item {
  width: 788px;
  position: relative;
  clear: both;
  margin-left: -25px;
  margin-bottom: -10px;
  margin-top: -15px;

  .profile-halo-container  {
    float: left;
    border-bottom: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 150px;

    .profile-container {
      width: 39px;
      height: 39px;
      float: left;
      padding: 2px;
      margin-top: 4px;
      border: 2px solid #cacaca;
      box-shadow: none;
    }
  }

  #activity-image {
    float: left;
  }
  .tooltip {
    min-height: 60px;
    width: 90%;
    position: relative;
    float: left;
    .tooltip-arrow {
      position: absolute;
      top: 20px;
      border-right-color: $activity-item-background-color;
    }
    .tooltip-inner {
      padding-left: 10px;
      padding-top: 14px;
      width: 100%;
      max-width: 100%;
      text-align: left;
      background-color: $activity-item-background-color;
      margin-bottom: 10px;
    }
  }
}

.activity-type {
  float:left;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 10px;
  font-size: 11px;
  .comment-type {
    padding: 3px;
    background-color: $comment-type-color;
  }

  .note-type, .contributor-type{
    padding: 3px;
    background-color: $note-type-color;
  }

  .relationship-type {
    padding: 3px;
    background-color: $user-type-color;
  }
}
.activity-time {
  float: right;
  font-size: 13px;
  font-size: 13px;
  background-color: #eeeeee;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  color: #999999;
}

.activity {
  padding-top: 2px;
  font-size: 15px;
  color: #8F8F8F;
  .user-name {
    text-decoration: none;
    color: #515775;
    font-weight: bold;
    font-size: 15px;
  }

  a {
    color: #268;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      color: #146;
    }
    &:active {
      color: #024;
    }
  }

  .activity-header-content-container {
    display: inline;
    position: relative;
    .extra-people-container {
      display: inline;
      border-bottom: 1px dotted #8f8f8f;
      cursor: pointer;
      .name-tooltip {
        display: block;
        position: absolute;
        padding: 2px 10px 4px;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
        color: #FFF;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.2s ease 0s;
        right: 6%;
        bottom: 25px;
        .name-tooltip-arrow {
          position: absolute;
          right: 9px;
          bottom: -6px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid rgba(0, 0, 0, 0.7);
        }
      }
      &:hover {
        .name-tooltip {
          opacity: 1;
          &:hover {
            opacity: 0;
          }
        }
      }
    }
  }
  .subsection {
    margin-top: 15px;
    overflow: hidden;
    color: #1D1D1D;
    ul.note-list {
      list-style: none;
      display: inline;
      margin: 0;
      li.note-div {
        display: inline-block;
        width: 200px;
        margin-left: 5px;
        background-color: #BEB5AA;
        padding: 1px;
        margin-top: 10px;
        border: 1px solid #ddd;
        .note-image {
          height: 200px;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover !important;
          overflow: hidden;
        }
      }
    }

    .profile-container {
      width: 100px;
      height: 100px;
      float: left;
      padding: 4px;
    }

    .user-info {
      h2 {
        font-size: 1.4em;
        margin-bottom: 0;
      }

      .profile-info {
        font-size: 1.2em;
        margin-bottom: 5px;
      }
    }

  }
}

.feed-footer {
  float: left;
  clear: both;
  margin-left: 4px;
  margin-top: -7px;
  background-color: #797979;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-top: 1px;
  color: #FFF;
}
