// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/`

$comments-sidebar-width: 300px;
$highlight-color: #27F;
$thumbnail-width: 240px;
$thumbnail-height: 330px;

.notes-index-page {
  .full-screen-overlay {
    // position: absolute;
    position: fixed;
    height: 100%;

    top: 0;
    right: 0;
    left: 0;
  /*    bottom: 0;*/
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,.8);
  }

  #overview-modal {
    background-color: rgba(0,0,0,0);
    border: none;

    .fade.in {
      opacity: 0;
    }
  }

  .modal-container-container {
    position: absolute;
    z-index: 1050;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 70px;
    padding-bottom: 70px;

    .modal-container {
      text-align: center;
      margin: 0 100px;
    }
  }


  .thumb-container {
    display: inline-block;
    width: $thumbnail-width;
    // height: 100%;//$thumbnail-height;
    border: 3px solid;
    border-color: transparent;
    &:hover {
      border-color: rgb(0, 160, 255);
    }
  }
}

#note-main {
  padding-left: 20px;
  min-width: 800px;

  &.new-comment-showing {
    margin-right: 0;
    padding-right: 50px + $comments-sidebar-width;
  }

  .note-description {
    font-size: 2em;
  }
  .note-images {
    margin-top: 40px;
  }

  .file-container {
    clear: both;
  }

  .image-container-outer {
    overflow: auto;
    max-width: 70%;
    float: left;

    .image-container {
      display: inline-block;
      max-width: 100%;
      margin: 5px 0;

      .image-border {
        border: solid 1px #aaa;
      }
    }
  }  
  .comments-container {
    position: relative;
    float: left;
    width: calc(30% - 20px);
    width: -webkit-calc(30% - 20px);
    width: -moz-calc(30% - 20px);
    width: -ms-calc(30% - 20px);
    margin-left: 20px;
    min-height: 1px;
    overflow: visible;
  }
}

#new-comment-container {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
  display: none;
}

#new-comment-header-container {
  background-color: #34495E;
  color: white;
  padding: 5px 10px;
  z-index: 100000;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 35px;
  width: $comments-sidebar-width - 20px;
  text-align: center;
  box-shadow: #000 2px 0px 2px;

  .new-comment-cancel {
    float: left;
    font-size: 1.5em;
    padding-bottom: 10px;
    -webkit-user-select: none;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.4;
    margin-right: 35px;
  }
}

.tooltip.right {
  padding: 0;
}

#new-comment-panel {
  position: absolute;
  display: none;
  min-width: 100%;
  -webkit-transition: top 0.2s ease;
  top: 50px;
  left: -13px;
  
  border-radius: 4px;
  // border: 4px solid $highlight-color;
  box-shadow: #888 1px 1px 5px;
  z-index: 100;

  
  .tooltip-inner {
    min-width: 100%;
    background-color: #fffff2;
    padding: 0;
    position: relative;
  }

  .tooltip-arrow {
    // border: none;
    left: -8px;
    border-right-color: #ffffff;

  }

  #newcomment {
    width: 97%;
    padding-left: 3%;
    min-height: 100px;
    resize: none;
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 4px 4px 0 0;
    margin: 0;
  }

  .btndiv { 
    text-align: right;
    .btn {
      display: inline-block;
      margin: 6px 5px;
    }
  }

}

#new-comment-position-line {
  position: absolute;
  bottom: 38px;
  left: -14px;
  width: 0px;
  height: 4px;
  background-color: $highlight-color;

  .left-arrow {
    position: relative;
    top: -8px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 10px solid $highlight-color;
  }
}

.comments-sidebar {
  background-color: #34495E;
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 10px;
  box-shadow: -2px 0 2px #bbc;
  z-index: 100;
}

.comment-button {
  position: absolute;
  left: -15px;

  i {
    font-size: 1.5em;
    color: #88b;
    -webkit-transition: color 0.1s ease;
    &:hover {
      color: #55a;
      cursor: pointer;
    }
    &:active, &.active {
      color: #228;
    }
  }
}

.comment {
  margin-left: 10px;
  position: relative;

  .comment-inner {
    border-radius: 10px 4px 4px;
    padding: 5px 8px;
    background-color: white;
    border: 1px solid #ddd;
  }

  &.reply {
    margin-left: 15px;
    margin-top: 5px;
    
    .comment-inner {
      background-color: #f7f7f9;
      border-color: #d5d5d5;
    }
  }

  &.active {
    // background-color: $highlight-color;
  }

  .user {
    font-weight: bold;
    margin-bottom: 3px;
  }
  .profile-container {
    width: 40px;
    height: 40px;
    padding: 2px;
    float: left;
    margin-right: 10px;
    margin-left: -10px;
    margin-top: -10px;
  }
  .comment-body {
    overflow: auto;
  }
  .comment-text {
    color: #222;
  }
  .bottom {
    margin-top: 4px;
  }
  .comment-date {
    color: #aaa;
    float: left;
  }
  .bottom {
    .text-link {
      float: right;
      color: #34495E;
      font-weight: normal;
    }    
  }
  .reply-button {
    margin-left: 10px;
  }
  .delete-confirm-panel {
    display: none;
    background-color: #bbb;
    border-top: 1px solid #999;
    margin: 10px -8px -5px;
    border-radius: 0 0 5px 5px;

    .btn {
      margin: 5px 0 5px 10px;
    }
  }
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.profile_info {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  color: grey;
}

.notes-list-container {
  border-radius: 8px;
  overflow: hidden;

  .notes-list {
    ul {
      list-style: none;
      display: inline;
      margin: 0;
      li {
        display: inline-block;
        width: 300px;
        margin-left: 5px;
        vertical-align: top;
      } 
    }
    .notes-list-item {
      background-color: #BEB5AA;
      min-height: 200px;
      padding: 1px;
      margin-top: 10px;
      border: 1px solid #ddd;

      &:hover {
        background-color: #8A847D;//#696662;
      }

      .note-item {
        position: relative;

        .appear-hover {
          opacity: 0;
          -webkit-transition: opacity 0.2s ease;
        }

        &:hover {
          .appear-hover {
            opacity: 1;
          }
        }

        #list-footer {
          height: 55px;
          position: relative;
          bottom: 55px;
          width: 100%;
          background-color:rgba(0,0,0,0.8);
          z-index: 100;
          overflow: hidden;
          
          .big-info {
            float: left; 
            width: 80%;        

            .description {
              width: 350px;
              font-size: 1em;
              margin-left: 20px;
              margin-bottom: 20px;
              color: #dadada;
              clear: both;
              overflow: hidden;
              white-space: wrap;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              font-weight: lighter;
              font-family: ‘Arial Narrow’, sans-serif;
            }   
          }

          .info {
            font-size: 1em;
            margin-left: 20px;
            color: #a0a0a0;
            clear: both;
            width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: Gill Sans / Gill Sans MT, sans-serif;
            font-weight: normal;
          }

          .tiny-info {
            float: right;
            font-size: 1.2em;
            margin-right: 10px;
            margin-top: 15px;
            color: #fff;
            text-align: right;
          }
        }

        .text-link {
          float: left;
          color: #fff;
          font-size: 1.2em;
          font-weight: normal;
          font-family: Century Gothic, sans-serif;//"Lucida Sans Unicode";
          margin-top: 17px;
          margin-left: 20px;
          margin-bottom: 17px;

          width: 300px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          

        }

        i.btn {
          font-size: 20px;
        }

        .overview-btn {
          position: absolute;
          top: 10px;
          left: 10px;
        }

        .btn-group {
          margin-right: 0px;
          margin-top: 10px;
          border-radius: 0px !important;
          -webkit-border-radius: 0px !important;
          position: absolute;
          top: 0px;
          right: 10px;
          .btn {
            border-radius: 0;
            display: inline-block;
          }
          a {
            text-decoration: none;
          }
          a:first-child .btn {
            border-radius: 4px 0 0 4px;
          }
          a:last-child .btn {
            border-radius: 0 4px 4px 0;
          }
        }

        .tooltip {
          right: -10px;
          top: 35px;
          .tooltip-arrow {
            border-bottom-color:rgba(0,0,0,0.5);
          }
          .tooltip-inner {
            width: 210px;
            background-color:rgba(0,0,0,0.5);
            #buddies {
              margin-bottom: 10px;
              height: 20px;
              font-size: 10px;
            }
          }
        }

        .img-preview {
          vertical-align: top;
          height: 280px;//275px;
          width: 100%;
          background-position: 10% 10%;
          background-position:top;
          background-repeat: no-repeat;
          background-size: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

.ui-autocomplete {
  z-index: 1140;
}

// NOTE UPLOAD SECTION
.create-new-note-container {
  margin-bottom: 20px;

  .create-new-note-button {
    i {
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  .new-note-form-container {
    label {
      cursor: default;
    }
    .text-field {
      position: relative;
      .status-icon {
        position: absolute;
        top: 8px;
        left: 284px;
        font-size: 1.7em;
        &.success-icon {
          color: #2ecc71;
        }
        &.error-icon {
          color: #e74c3c;
        }
        &.hidden {
          display: none;
        }
      }
    }

    .select-file {
      margin-bottom: 10px;
      width: 150px;
      padding-top: 40px;
      padding-bottom: 45px;
      float: left;
      i {
        margin-right: 10px;
        font-size: 3em;
      }
      .upload-status-text {
        font-size: 1.5em;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 8px;
        white-space: nowrap;
      }
      .upload-status-text-secondary {
        font-size: 0.7em;
      }
      &.btn {
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        color: rgb(117, 118, 119);
        background: white;
        border: 2px dashed;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        &:hover {
          -webkit-transition: color 0.2s;
          transition: color 0.2s;
          color: #1abc9c;
        }
        &.success {
          -webkit-transition: color 0.2s;
          transition: color 0.2s;
          color: #2ecc71;
        }
        &.error {
          -webkit-transition: color 0.2s;
          transition: color 0.2s;
          color: #e74c3c;
        }
      }
    }
    .form-container {
      float: right;
      width: 300px;
      margin-right: 15px;
      .text-field {
        margin-bottom: 10px;
        input {
          display: block;
          width: 100%;
        }
      }
    }
    .upload-interaction {
      .spinner-container {
        float: left;
        margin-top: 12px;
        margin-left: 17px;
      }
      .processing-label {
        font-size: 0.8em;
        width: 320px;
        float: left;
        margin-left: 35px;
      }
      .submit-action {
        i {
          margin-right: 5px;
        }
        .submit-action-text, .submit-action-icon {
          display: inline;
        }
      }
      .upload-progress {
        float: left;
        width: 395px;
        .upload-progress-text {
          font-size: 0.8em;
        }
        .progress {
          height: 5px;
          margin: 0px;
        }
      }
    }


  }
}



