// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$comments-sidebar-width: 300px;

.notes-show-page {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-right: $comments-sidebar-width;
  padding-right: 30px;
  overflow-y: auto;

  .note-description {
    font-size: 2em;
  }
  .note-images {
    margin-top: 40px;
  }
  .image-container {
    display: inline-block;
    border: solid 1px #aaa;
    margin: 15px 0;
  }
}

.comments-sidebar {
  background-color: #34495E;
  width: $comments-sidebar-width - 20px; // Subtract padding
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 10px;
  box-shadow: -2px 0 2px #bbc;

  .comments-container {
    margin-top: 30px;
  } 
}

.comment {
  margin: 10px 0px;
  border-radius: 10px;
  padding: 4px; // Effectively the 'active' border width
  background-color: #304050;

  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  
  .comment-inner {
    border-radius: 6px;
    padding: 5px 8px;
    background-color: white;
  }

  &.active {
    background-color: #27F;
  }

  .user {
    font-weight: bold;
    margin-bottom: 3px;
  }
  .comment-text {
    color: #222;
  }
  .comment-date {
    margin-top: 4px;
    color: #aaa;
  }
}

.create-new-note {
  margin-bottom: 20px;

  .btn.btn-large i {
    margin-right: 5px;
    margin-top: 3px;
  }
}

.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.profile_info {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  color: grey;
}

.notes-list-container {
  border-radius: 8px;
  overflow: hidden;

  .notes-list {
    .notes-list-item {
      overflow: auto;
      padding: 10px 10px;

      &:nth-child(odd) {
        background-color: #f2f2f2;
      }
      &:nth-child(even) {
        background-color: #fafafa;
      }

      .text-link {
        float: left;
        font-size: 1.4em;
      }

      .btn {
        float: right;
        margin-left: 10px;
      }
    }
  }
}
