// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/`

$highlight-color: #27F;
$thumbnail-width: 240px;
$thumbnail-height: 330px;

$shift-max-width: 1400px;

.notes-loading-container {
  position: absolute;
  top: 80px;
  left: 80px;
  right: 0;
  bottom: 0;
}

.notes-header {
  height: 65px;
  border-bottom: #ECF0F1 solid 2px;
  position: relative;
  // min-width: 768px;
  h1 {
    float: left;
  }

  .search-box {
    position: absolute;
    left: 102px;
    top: 10px;
    height: 40px;
    input {
      width: 242px;
      border-radius: 2px;
      -webkit-transition: color 0.3s ease, width 0.5s ease;
      -moz-transition: color 0.3s ease, width 0.5s ease;
      transition: color 0.3s ease, width 0.5s ease;

      &:active {
        border-color: #22B498 !important;
      }

      &:focus {
        width: 300px;
      }

      &.tag {
        color: #38a;
      }
    }

    .input-icon {
      position: absolute;
      top: 2px;
      right: 2px;
      line-height: 37px;
      vertical-align: middle;
      font-size: 20px;
      color: #b2bcc5;
      background-color: transparent;
      padding: 0 12px 0 0;
      border-radius: 6px;
    }
  }
  .sorting-options {
    list-style-type: none;
    position: absolute;
    right: 10px;
    bottom: 0px;

    .btn {
      background-color: transparent;
      color: inherit;
      border-radius: 2px;

      &:hover {
        background-color: #ECF0F1;
      }

      &.active {
        background-color: #22B498;
      }
    }
  }
}

.notes-index-page {
  padding-top: 20px;

  .full-screen-overlay {
    // position: absolute;
    position: fixed;
    height: 100%;

    top: 0;
    right: 0;
    left: 0;
  /*    bottom: 0;*/
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,.8);
  }

  #overview-modal {
    background-color: rgba(0,0,0,0);
    border: none;

    .fade.in {
      opacity: 0;
    }
  }

  .modal-container-container {
    position: absolute;
    z-index: 1050;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 70px;
    padding-bottom: 70px;

    .modal-container {
      text-align: center;
      margin: 0 100px;
    }
  }


  .thumb-container {
    display: inline-block;
    width: $thumbnail-width;
    border: 3px solid;
    border-color: transparent;
    &:hover {
      border-color: rgb(0, 160, 255);
    }
  }
}

#note-header {
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  border-bottom: #ECF0F1 solid 2px;
  background-color: rgba(255, 255, 255, 0.95);
  border-color: rgba(245, 245, 245, 0.85);

  h1 {
    float: left;
    margin-left: 130px;
  }
  .contributors {
    margin-left: 10px;
    // margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    right: 280px;
    bottom: 15px;
    div {
      float: left;
    }
  }

.pages {
    // float: right;
    position: absolute;
    line-height: 40px;
    font-size: 1.3em;
    color: #999999;
    right: 10px;
    bottom: 10px;
    span {
      color: #34495e;
    }
  }

  .page-number {
    display: inline-block;
    position: absolute;
    right: 135px;
    bottom: 15px;
    div {
      float: left;
    }

    .flag {
      margin-right: 20px;
    }
  }

  .profile-container {
    padding: 0;
    box-shadow: none;
    border: solid #ECF0F1 1px;
    margin-right: 10px;
    position: relative;
    height: 32px;
    width: 32px;
    cursor: pointer;

    &.share-note {
      float: right;
      span {
        color: #34495e;
        font-size: 1em;
        top: 21%;
        left: 4%;
        position: absolute;
        text-align: center;
        width: 30px;
      }
    }

    &.prev-page, &.next-page{

    }

    // &.flag {
    //   margin-left: 0px;
    // }

    i {
      color: #999999;
      font-size: 1.4em;
      position: absolute;

      &.icon-share {
        font-size: 1.3em;
        top: 27%;
        left: 27%;
      }

      &.icon-angle-right, &.icon-angle-left, &.icon-exclamation {
        top: 20%;
        left: 37%;
      }
    }

    &:hover {
      background-color: #dadada;
    }
  }
}

#sidebar.shifted, #sidebar.shifted + #sidebar-placeholder  {
  @media (max-width: $shift-max-width) {
    margin-left: -100px;
  }
}

#note-main {
  padding-top: 70px;
  position: relative;
  height: 100%;

  #note-shift-overlay {
    display: none;
  }

  &.shifted {
    @media (max-width: $shift-max-width) {
      margin-left: -500px;
      .page {
        text-align: right;
        margin-right: 325px;
      }

      #note-shift-overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 340px;
        cursor: pointer;
      }
    }
  }

  .note-description {
    font-size: 2em;
  }

  .note-pages {
    .page-contents {
      white-space: nowrap;
      & > * {
        display: inline-block;
        vertical-align: top;
        text-align: left;
      }
    }

    .file-container {
      .page-container {
        border-bottom: solid 3px #F2F5F6;
        border-right: 3px solid #F2F5F6;

        .t {
          cursor: pointer;
          &:hover {
            background-color: rgba(40, 120, 200, 0.1);
            &:after {
              content: "+";
              color: white;
              position: absolute;
              z-index: 99999;
              line-height: 0.8;
              right: -50px;
              bottom: 0;
              z-index: 9999;
              padding: 4px 5px 8px;
              border-radius: 20px;
              font-size: 30px;
              font-family: Verdana;
              background-color: rgba(40, 120, 200, 0.5);
            }
          }
        }
      }
    }

    .comments-container {
      position: relative;
    }

    .comment-group-container {
      position: absolute;

      &.active {
        background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0));
        z-index: 200;
        padding-bottom: 20px;
      }

      &.inactive {
        &:hover {
          .comment-button {
            font-size: 13em;
            border-color: #888;
            .overlay {
              background-color: transparent;
              &.blank {
                background-color: #c5c8d0;
              }
            }
          }
        }
      }
    }

    .comment-button {
      position: absolute;

      &.inactive {
        top: 0;
        -webkit-transition: margin 0.2s ease;
        -moz-transition: margin 0.2s ease;
        transition: margin 0.2s ease;
      }

      &.active {
        margin: 0 !important;
        z-index: 100 !important;
      }

      .profile-container {
        position: absolute;
        width: 25px;
        height: 25px;
        padding: 0px;
        border: 1px solid #ccc;
        box-shadow: none;
        cursor: pointer;

        &.animate {
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          transition: all 0.2s linear;
        }

        .overlay {
          -webkit-transition: background-color 0.1s linear;
          -moz-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
          background-color: rgba(255,255,255,0.3);
          &.blank {
            background-color: #c5c8d0;
            padding: 1px;
            margin: -1px 0 0 -1px;
          }
          .ellipsis {
            color: #f5f5f5;
            font-size: 25px;
            line-height: 0.37;
            text-align: center;
          }
        }
        &:active {
          border-color: #888;
          .overlay {
            background-color: transparent;
          }
        }
      }

      &.active {
        .profile-container {
          width: 40px;
          height: 40px;
          padding: 1px;
          // Box shadow flashes when comments refresh
          box-shadow: none;
          border: 1px solid #ccc;
          .overlay {
            background-color: transparent;
            .ellipsis {
              display: none;
            }
          }
        }

      }
    }
  }
}

#new-comment-panel {
  position: absolute;
  width: 290px;
  left: 956px;
  padding-left: 38px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), white 40%,white 60%, rgba(255,255,255,0));
  margin-top: -80px;
  padding-top: 70px;
  padding-bottom: 25px;
  z-index: 101;

  @media (max-width: $shift-max-width) {
    left: auto;
    right: 0px;
  }

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;

  &.no-animate {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }

  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
  }
  &.ng-hide {
    opacity: 0;
    left: 936px;
    @media (max-width: $shift-max-width) {
      left: auto;
      right: 20px;
    }
  }
}

#new-comment-panel, .comment .new-reply-panel {
  .comment-inner {
    border: none;
    margin-left: 10px;
  }
}

textarea.comment-text, #newcomment, .comment .new-reply-panel .newreply {
  overflow: hidden;
  min-height: 25px;
  width: 100%;
  resize: none;
  border: none;
  border-radius: 0;
  // Don't change margin/padding, affects autoresizing
  margin: 0;
  padding: 0;
}

#newcomment, .comment .new-reply-panel .newreply {
  border-bottom: 1px solid #f2f2f0;
}

.new-comment-submit {
  outline: none;
}

.comment.parent {
  margin-left: 45px;
}

.comment {
    margin-left: 10px;
    width: 280px;

    .comment-inner {
      padding: 10px 8px;
      // background-color: white;
      // border: 1px solid #ddd;
      border-bottom: 1px solid #f2f2f0;
      overflow: visible;
    }

    &.reply {
      margin-left: -20px;
      margin-top: 5px;
      .profile-container {
        width: 35px;
        height: 35px;
        margin-left: 8px;
        // Box shadow flashes when comments refresh
        box-shadow: none;
        border: 1px solid #ccc;
      }
      .comment-inner {
        margin-left: 49px;

        .delete-confirm-panel {
          .btn {
            width: 75px;
          }
        }
      }
      .profile-container {
        margin-top: 0px;
      }
    }

    &.active {
      // background-color: $highlight-color;
    }

    .user {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .profile-container {
      width: 40px;
      height: 40px;
      padding: 1px;
      float: left;
      margin-right: 10px;
      margin-left: -34px;
    }
    .comment-body {
      overflow: auto;
    }
    .comment-text {
      background-color: inherit;
      color: #222;
      white-space: normal;
    }
    .bottom {
      margin-top: 4px;
      .text-link {
        float: left;
        color: #34495E;
        font-weight: normal;
        margin-right: 20px;
        line-height: 22px;
        &:hover {
          text-decoration: none;
        }
        &.primary {
          color: #268;
          font-weight: bold;
          &:hover {
            color: #024;
          }
        }
        &.secondary {
          color: #aaa;
          float: left;
          &:hover {
            color: #666;
          }
          &.delete-button.confirm-showing {
            color: #ddd;
            cursor: default;
          }
        }
      }
    }
    .comment-date {
      color: #aaa;
      float: right;
    }
    .delete-confirm-panel {
      -webkit-transition: height 0.2s ease;
      -moz-transition: height 0.2s ease;
      transition: height 0.2s ease;
      overflow: hidden;
      height: 45px;

      &.ng-hide-add, &.ng-hide-remove {
        display: block !important;
      }
      &.ng-hide {
        height: 0;
      }

      .btn {
        width: 100px;
        margin: 10px 10px 0 0;
      }
    }
  }

.circular {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

.profile_info {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  color: grey;
}

.notes-list-item {
  margin: 2px;
  &:first-child {
    margin-right: 0px;
  }
  &:nth-child(2) {
    margin-left: 0px;
  }
}

.notes-list-container {
  overflow: hidden;

  .notes-list {

    margin: 0;

    .notes-list-item {
      display: inline-block;
      height: 218px;
      width: 352px;
      vertical-align: top;

      &:hover {
        background-color: #8A847D;//#696662;
      }

      .note-item {
        position: relative;
        height: 100%;
        overflow: hidden;

        .delete-confirmation {
          position: absolute;
          color: #fff;
          z-index: 103;
          top: calc(50% - 37px);
          left: calc(50% - 92px);
          text-align: center;

          .btn {
            background-color: rgba(255, 255, 255, 0.2);
            font-size: 20px;

            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }

          .btn.delete {
            margin-left: 15px;
            background-color: RGBA(255, 0, 5, 0.3);

            &:hover {
              background-color: RGBA(255, 0, 5, 0.6)
            }
          }
        }
        .appear-hover {
          opacity: 0;
          -webkit-transition: opacity 0.2s ease;
          -moz-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
          z-index: 104;
          .btn {
            border-radius: 0 !important;
            background-color: transparent;
            &:hover {
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
        }

        &:hover {
          .appear-hover {
            opacity: 1;
          }
        }

        #list-footer {
          height: 45px;
          position: absolute;
          bottom: 0px;
          width: 100%;
          // background-color:rgba(0,0,0,0.8);
          overflow: hidden;

          .big-info {
            float: left;
            width: 80%;
            .contributors {
              margin-left: 10px;
              margin-bottom: 10px;
              display: inline-block;
              width: 100%;
              .profile-container {
                height: 32px;
                width: 32px;
                padding: 0;
                box-shadow: none;
                border: solid #ECF0F1 1px;
                float: left;
                margin-right: 5px;
                position: relative;
                z-index: 103;

                i {
                  color: #fff;
                  font-size: 1.4em;
                  position: absolute;
                  top: 23%;
                  left: 23%;
                }

                &.share-note {
                  background-color: rgba(255, 255, 255, 0.2);
                  span {
                    color: #fff;
                    font-size: 1em;
                    top: 21%;
                    left: 4%;
                    position: absolute;
                    text-align: center;
                    width: 30px;
                  }
                }

                &:hover {
                  background-color: rgba(255, 255, 255, 0.5);
                }

              }
            }
          }

          .info {
            font-size: 1em;
            margin-left: 20px;
            color: #a0a0a0;
            clear: both;
            width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: Gill Sans / Gill Sans MT, sans-serif;
            font-weight: normal;
          }

          .tiny-info {
            float: right;
            font-size: 1.2em;
            margin-right: 10px;
            margin-top: 15px;
            color: #fff;
            text-align: right;
            z-index: 103;
          }
        }

        .text-link {
          float: left;
          color: #fff;
          font-size: 1em;
          font-weight: 200;
          // font-family: Century Gothic, sans-serif;//"Lucida Sans Unicode";
          margin-top: 5px;
          margin-left: 10px;
          margin-bottom: 17px;

          width: 300px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;


        }

        i.btn {
          font-size: 20px;
        }

        .overview-btn {
          position: absolute;
          top: 10px;
          left: 10px;
        }

        .btn-group {
          margin-right: 0px;
          margin-top: 10px;
          -webkit-border-radius: 0px !important;
          -moz-border-radius: 0px !important;
          border-radius: 0px !important;
          position: absolute;
          top: 0px;
          right: 10px;
          .btn {
            border-radius: 0;
            display: inline-block;
          }
          a {
            text-decoration: none;
          }
          a:first-child .btn {
            border-radius: 4px 0 0 4px;
          }
          a:last-child .btn {
            border-radius: 0 4px 4px 0;
          }
        }

        .tooltip {
          right: -10px;
          top: 35px;
          .tooltip-arrow {
            border-bottom-color:rgba(0,0,0,0.5);
          }
          .tooltip-inner {
            width: 210px;
            background-color:rgba(0,0,0,0.5);
            #buddies {
              margin-bottom: 10px;
              height: 20px;
              font-size: 10px;
            }
          }
        }

        .big-link {
          height: 100%;//275px;
          width: 100%;
          position: absolute;
          z-index: 103;
        }

        .img-preview {
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
          position: absolute;
        }

        .process-spinner {
          position: absolute;
          z-index: 103;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 7em;
          color: #fff;
          i {
            margin-top: 25px;
          }

          .text-link {
            // margin-top: 0;
            margin-top: 5px;
            margin-left: 0;
            padding: 0 5%;
            width: 90%;
          }
        }
        .aborted-notice {
          position: absolute;
          z-index: 103;
          width: 100%;
          text-align: center;
          margin-top: 60px;
          font-size: 7em;
          color: #fff;
          i {
            margin-left: 24px;
          }
        }

        .tags {
          position: absolute;
          z-index: 150;
          top: 45px;
          left: 10px;
          right: 10px;
        }

        .tag {
          float: left;
          color: white;
          background-color: rgba(0, 0, 0, 0.25);
          -webkit-transition: all 0.2s ease;
          padding: 4px 4px 4px 4px;
          margin-right: 4px;
          margin-bottom: 4px;
          border-radius: 3px;
          overflow: visible;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;

          .tag-text {
            line-height: 1.2;
            position: relative;
            margin-top: -2px;
            margin-bottom: -2px;
            left: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 140px;
            white-space: nowrap;
            -webkit-transition: left 0.2s ease;
            -moz-transition: left 0.2s ease;
            transition: left 0.2s ease;
          }

          .delete-tag-btn, .tag-text {
            float: right;
          }

          .delete-tag-btn {
            opacity: 0;
            line-height: 1.3;
            font-size: 10px;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
            margin-left: 4px;
            color: #f5f5f5;
            &:hover {
              color: #eaa;
            }
            &:active {
              color: #e88;
            }
            i {
            }
          }

          &.add-tag {
            margin-right: 0;

            &.error {
              box-shadow: 0px 0px 5px #f00;
              -webkit-transition: none;
            }
          }

          &.add-tag.collapsed {
            margin-right: 106px;
            width: 14px;
            &.with-text {
              margin-right: 54px;
              width: 66px;
            }
            .add-tag-field {
              width: 0;
            }
          }

          &.add-tag.expanded {
            width: 120px;
            .add-tag-btn {
              color: inherit;

              &:hover {
                color: #8dc;
              }
              &:active {
                color: #0EAA86
              }
            }
          }

          .add-tag-btn {
            float: right;
            margin-top: 0.5px;
            margin-left: 2px;
            margin-right: 3px;
            font-size: 11px;
            line-height: 1.1;
            color: rgba(255,255,255, 0.6);
            -webkit-transition: color 0.2s ease;
            -moz-transition: color 0.2s ease;
            transition: color 0.2s ease;
          }
          .add-text {
            float: left;
            color: rgba(255,255,255, 0.6);
            line-height: 0.8;
            margin-left: 4px;
            margin-right: 2px;
          }

          .add-tag-field {
            float: left;
            -webkit-transition: width 0s ease;
            -webkit-transition-delay: 0.2s;
            -moz-transition: width 0s ease;
            -moz-transition-delay: 0.2s;
            transition: width 0s ease;
            transition-delay: 0.2s;
            width: 106px;  
            height: 17px;
            padding: 0;
            margin: 0;
            margin-top: -3px;
            margin-bottom: -1px;
            background: transparent;
            border-radius: 0;
            border: none;
            line-height: 1.0;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: inherit;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            
            .tag-text {
              left: 0;
            }

            .delete-tag-btn {
              opacity: 1;
            }
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.5);
            color: #eee;
          }
        }


        .info-preview {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 102;

          &.color0 {
            background-color: rgba(160, 65, 54, 0.7);
          }
          &.color1 {
            background-color: RGBA(199, 27, 27, 0.7);
          }
          &.color2 {
            background-color: RGBA(213, 186, 138, 0.7);
          }
          &.color3 {
            background-color: RGBA(1, 116, 103, 0.7);
          }
          &.color4 {
            background-color: RGBA(224, 143, 35, 0.7);
          }
          &.color5 {
            background-color: RGBA(11, 13, 12, 0.7);
          }
          &.color6 {
            background-color: RGBA(80, 160, 200, 0.7);
          }
        }
      }
    }
  }
}

.ui-autocomplete {
  z-index: 1140;
}

// NOTE SHARING SECTION
.share-note-form-container {
  background-color: #F5F5F5;

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 1px #ccc solid;
  }

  h4.friend {
    border-top: 1px #ccc solid;
  }

  .modal-body {
    padding: 0px;
    max-height: 600px;
    overflow-y: visible;

    .search-friend-box {
      position: relative;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;

      input {
        width: calc(100% - 15px);
        border-radius: 2px;
        &:active {
          border-color: #22B498 !important;
        }
      }

      .input-icon {
        position: absolute;
        top: 2px;
        right: 2px;
        line-height: 37px;
        vertical-align: middle;
        font-size: 20px;
        color: #b2bcc5;
        background-color: transparent;
        padding: 0 12px 0 0;
        border-radius: 6px;
      }
    }

    .contributor-list {
      height: 220px;
      overflow-y: scroll;
      background-color: #fff;

      .contrib-list-item {
        // width: 290px;
        height: 66px;
        padding: 5px;
        padding-left: 15px;
        cursor: pointer;
        // border-bottom: 1px #ccc solid;
        clear: both;

        &:hover {
          background-color: #eaeaea;
          .contrib-info .delete-contrib .btn, .contrib-info .add-contrib .btn {
            width: 100px;
          }
        }
        .contrib-info {
          width: 100%;
          margin-top: 7px;
          margin-bottom: 7px;
          .profile-container {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 2px;
            margin-right: 10px;
            float: left;
            .profile-image {
              width: 50px;
              height: 50px;
            }
          }
          .profile-link-container {
            float: left;
            max-width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 16px;
            white-space: nowrap;
          }

          .delete-contrib, .add-contrib {
            float:right;
            margin-top: 10px;
            .btn {
              position: relative;
              background-color: transparent;
              color: #34495E;
              overflow: hidden;
              padding: 0px;
              width: 30px;
              height: 30px;

              span {
                position: absolute;
                right: 30px;
                bottom: 5px;
              }

              i {
                position: absolute;
                right: 10px;
                bottom: 5px;
              }
            }
          }
        }
      }
    }
  }

  .share-interaction {
    .error-label {
      font-size: 0.85em;
      color: red;
      margin-left: 5px;
      float: left;
    }
  }

  .share-button {
    float: right;
    .share-note-icon {
      float: left;
      margin-right: 5px;
    }

    .share-action-text {
      display: inline;
    }
  }
}


// NOTE UPLOAD SECTION
.upload-form {
  background-color: #0FB598 !important;
  position: relative;
  margin-right: -0.3em;
  cursor: pointer;
  // min-width: 448px;

  &:hover {
    background-color: lighten(#0FB598, 7) !important;
  }
}

.create-new-note-container {
  // width: 448px;
  // height: 280px;
  color: #FFF;

  .big-button-container {
    width: 100%;
    height: 100%;

    .create-new-note-button {
      position: absolute;
      top: calc(50% - 76px);
      left: calc(50% - 105px);

      h2.process {
        margin-left: 30px;
      }

      // width: 400px;
      i {
        margin-left: 31%;
        margin-top: 3px;
        font-size: 7em;
        clear: both;

        &.icon-refresh {
          margin-left: 59px;
        }
      }
    }
  }

  .new-note-form-container {
    cursor: default;
    label {
      cursor: default;
    }
    #upload_form_tag {
      margin: 0px;
    }
    .text-field {
      position: relative;
      .status-icon {
        position: absolute;
        top: 8px;
        left: 284px;
        font-size: 1.7em;
        &.success-icon {
          color: #2ecc71;
        }
        &.error-icon {
          color: #e74c3c;
        }
        &.hidden {
          display: none;
        }
      }
    }

    .select-file {
      margin-bottom: 10px;
      width: 150px;
      padding-top: 40px;
      padding-bottom: 45px;
      float: left;
      i {
        margin-right: 10px;
        font-size: 3em;
      }
      .upload-status-text {
        font-size: 1.5em;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 8px;
        white-space: nowrap;
      }
      .upload-status-text-secondary {
        font-size: 0.7em;
      }
      &.btn {
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        transition: color 0.2s;
        color: rgb(117, 118, 119);
        background: white;
        border: 2px dashed;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        &:hover {
          color: #1abc9c;
        }
        &.success {
          color: #2ecc71;
          border-color: #2ecc71;
        }
        &.error {
          color: #e74c3c;
          border-color: #e74c3c;
        }
      }
    }
    .form-container {
      float: right;
      width: 300px;
      margin-right: 15px;
      .text-field {
        margin-bottom: 10px;
        input {
          display: block;
          width: 100%;
        }
      }
    }

    .upload-interaction{
      .spinner-container {
        float: left;
        margin-top: 12px;
        margin-left: 17px;
      }
      .processing-label {
        font-size: 0.8em;
        width: 320px;
        float: left;
        margin-left: 35px;
      }
      .submit-action {
        i {
          margin-right: 5px;
        }
        .submit-action-text, .submit-action-icon {
          display: inline;
        }
      }
      .upload-progress {
        float: left;
        width: 395px;
        .upload-progress-text {
          font-size: 0.8em;
        }
        .progress {
          height: 5px;
          margin: 0px;
        }
      }
    }
  }
}
