// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$profile-image-size: 100px;

.profile-container {
  width: $profile-image-size;
  height: $profile-image-size;
  padding: 5px;
  background: white;
  box-shadow: #444 0px 1px 4px;
  -webkit-user-select: none;
  margin-bottom: 1px;
  .profile-image {
    width: inherit;
    height: inherit;
    background-size: cover !important;
  } 

} 

a.profile-link > .profile-container:active {
    box-shadow: #444 0px 0px 4px;
    margin-top: 1px;
    margin-bottom: 0;
}

.profile {
  float:left;
  width: 100%;
  .profile-image-section {
    margin-top: 5px;
  }

  .profile-section {
    vertical-align: top;

    h3 {
      margin-top: 0;
      
      .text-link {
        font-weight: normal;
        text-decoration: none;

      }
    }
  }

  .profile-buttons {
    margin-top: 30px; 
    margin-left: 30px;
  }
  

  .sorting-options {
      list-style-type: none;
      margin-top: 20px;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: #ECF0F1 solid 2px;
      // position: absolute;
      // right: 10px;
      // bottom: 0px;
      ul {
        margin: 0;
      }
      .btn {
        background-color: transparent;
        color: inherit;
        border-radius: 2px;

        &:hover {
          background-color: #ECF0F1;
        }

        &.active {
          background-color: #22B498;
        }
      }
    }

  .activities-section {

  }

  .notes-section {
    margin-top: 20px;

    .notes-list-item:first-child {
      margin-right: 2px;
    }
    .notes-list-item:nth-child(2) {
      margin-left: 2px;
    }
  }

  .buddies-section {
    margin-top: 20px;

    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .buddies-list-item {
      height: 80px;
      width: 360px;
      background-color: #ECF0F1;
      padding: 5px 10px;

      &:hover {
        background-color: darken(#ECF0F1, 5%);
      }

      .profile-image-section {
        // width: 25%;
        float: left;
        .profile-container {
          height: 60px;
          width: 60px;
        }
      }

      .profile-section {
        float: left;
        width: 75%;
        margin-left: 10px;

        .info 
        {
          h3 {
            font-size: 1.5em;
          }

          .small-info {
            margin-top: -10px;
          }
        }
      }

    }
  }
}




