// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$profile-image-size: 180px;

.profile {
  float:left;
}

.profile_section {
  vertical-align: top;

  h2 {
    margin-top: 0;
  }
}

.profile-buttons {
  margin-top: 30px; 
  margin-left: 30px;
}

.profile-container {
  width: $profile-image-size;
  height: $profile-image-size;
  padding: 5px;
  background: white;
  box-shadow: #444 0px 1px 4px;
  -webkit-user-select: none;
  margin-top: 5px;
  margin-bottom: 1px;
  .profile-image {
    width: inherit;
    height: inherit;
    background-size: cover !important;
  } 
}

a > .profile-container:active {
  box-shadow: #444 0px 0px 4px;
  margin-top: 1px;
  margin-bottom: 0;
}


