/* Reviews Theming */
$review-1-top: 330px;
$review-1-left: 20px;

$review-2-top: 20px;
$review-2-left: 300px;

$review-3-top: 20px;
$review-3-left: 620px;

$review-4-top: 20px;
$review-4-left: 920px;

$review-5-top: -30px;
$review-5-left: 1190px;


/*splash page css*/
#splash {

  .proper-content {
    padding-top: 40px; /* >= navbar height */
  }

  .wrapper {
    min-height: 100%;
    min-width: 940px;
    height: auto !important;
    height: 100%;
  }

  .push {
    height: 50px; /* same as the footer */
  }

  .notist-logo {
    height: 60px;
    z-index: 2;
    width: 50%;
    float: left;
    background: url('/assets/logo/notist-logo-3.png') no-repeat scroll 0% 0% / 218px 57px transparent;
    margin-top: 20px;
    margin-left: 25px;
  }

  .theme-background {
    min-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;



    // filter: blur(4px);
    // // Browser Specific
    // -webkit-filter: blur(4px);
    // -moz-filter: blur(4px);
    // -o-filter: blur(4px);
    // -ms-filter: blur(4px);

  }



  #themeback-one {
    background-image: url("/assets/splash/splashmural-second.png");
    background-size: cover;
  }

  .background-overlay {
    min-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  
    background-color: rgba(0, 0, 0, 0.3);
  }

  h1, h2 {
    color: white;
    
  }

  .connect-fb-button {

    a {
      background-image: url('/assets/facebook_icon.png');
      background-repeat: no-repeat;
      background-position: 15px center;
      background-size: 24px 24px;
      background-color: rgba(255, 255, 255, 0);
      width: 260px !important;
      float: right;
      margin-top: 20px;
      margin-right: 25px;
      height: 57px;
      border: 1px solid #fff;
      border-radius: 3px;
    }

    a:hover {
      // color: #1E54BF;
      background-color: rgba(255, 255, 255, 0.2);
      // border-color: #2F4A84;
    }

    span {
        // text-align: center;
        font-weight: 300;
        margin-left: 25px;
        position: relative;
        top: 6px;

        // padding-top: 8px;
    }
  }
  

  .big-splash {
    z-index: 100;
    position: fixed;
    top: 35%;
    width: 100%;
    text-align: center;
    // background-color: rgba(0, 0, 0, 0.3);
    padding: 30px 0;
    h1 {
      font-size: 5vw;
      line-height: 5vw;
      font-weight: 100;
    }

    h2 {
      font-size: 3vw;
      line-height: 3vw;
      font-weight: 100;
    }
  }

}