/* Reviews Theming */
$review-1-top: 330px;
$review-1-left: 20px;

$review-2-top: 20px;
$review-2-left: 300px;

$review-3-top: 20px;
$review-3-left: 620px;

$review-4-top: 20px;
$review-4-left: 920px;

$review-5-top: -30px;
$review-5-left: 1190px;


/*splash page css*/
#splash {

  .proper-content {
    padding-top: 40px; /* >= navbar height */
  }

  .wrapper {
    min-height: 100%;
    min-width: 940px;
    height: auto !important;
    height: 100%;
  }

  .push {
    height: 50px; /* same as the footer */
  }

  p#slogan_1 {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 141px;
    padding: 10px 0 0 40px;
    color: rgb(64, 65, 65);
  }

  p#slogan_2 {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size:30px;
    margin-top: -10px;
    padding: 0 0 0 100px;
    color: #7F8C8D;
  }

  .header-wrapper ul.inline {
    margin-top:45px;
    text-align: right;
  }

  .notist-logo {
    background:url('/assets/logo/logo3.png') no-repeat;
    background-size: 500px 200px;
    height: 50%;
  }

  .theme-background {
    height: 500px;
    width: 100%;
    // background-position: center;
    background-size:cover;
    // filter:blur(4px);
    // -o-filter:blur(4px);
    // -ms-filter:blur(4px);
    // -moz-filter:blur(4px);
    // -webkit-filter:blur(4px);
    // position: absolute;
    // z-index: 0;
  }

  // .splash-content {
  //   height: 500px;
  //   position: relative;
  //   z-index: 10;
  // }

  #themeback-one {
    // background-image:url('/assets/splash/ironman.jpg');
    // background-image:url('/assets/splash/fightclub.jpg');
    background-image:url('/assets/splash/fantasylibrary2.jpg');

    background-size: 100% 130%;
  }

  #themeback-two {
    background-image:url('/assets/splash/joker.jpg');
  }

  #themeback-three {
    background-image:url('/assets/splash/ff.jpg');
  }

  section.summary {
    background-color: #252627; /*  */

    li {
      padding: 0 5% !important;

      div {
        background-repeat:no-repeat;
        background-position:center center;
        background-size: cover 100%;
        width: 100%;
        min-width: 250px;
        height: 287px;
      }

      #organize {
        background-image:url('/assets/splash/Pensils@2x.png');
      }

      #share {
        background-image:url('/assets/splash/Chat@2x.png');
      }

      #secure {
        background-image:url('/assets/splash/Retina-Ready@2x.png');
      }
    }

  }



  section.reviews {
    background-color: rgb(48, 0, 121);
    height: 400px;

    i {
      font-size: 70px;
    }

    .review .tooltip-inner {
      position: inherit;
      display: block;
      background-color: rgb(64, 31, 148);
      font-size: 20px;
      line-height: 130%;
      font-family: "Open Sans",Arial,Helvetica,sans-serif;
    }

    .review .tooltip-arrow {
      position: inherit;
      border-top-color: rgb(64, 31, 148) !important;
      border-bottom-color: rgb(64, 31, 148) !important;
    }

    #review_1 .tooltip-inner {
      top: $review-1-top;
      left: $review-1-left;
      width: 400px;
    }

    #review_1 .tooltip-arrow {
      top: $review-1-top - 9;
      left: 60px;
    }


    #review_2 .tooltip-inner {
      top: $review-2-top;
      left: $review-2-left;
      width: 800px;
    }

    #review_2 .tooltip-arrow {
      top: $review-2-top + 76px;
      left: $review-2-left + 40px;
    }


    #review_3 .tooltip-inner {
      top: $review-3-top;
      left: $review-3-left;
      width: 400px;
    }

    #review_3 .tooltip-arrow {
      top: $review-3-top + 336px;
      left: $review-3-left + 40px;
    }

    #review_4 .tooltip-inner {
      top: $review-4-top;
      left: $review-4-left;
      width: 400px;
    }

    #review_4 .tooltip-arrow {
      top: $review-4-top + 102px;
      left: $review-4-left + 40px;
    }

    #review_5 .tooltip-inner {
      top: $review-5-top;
      left: $review-5-left;
      width: 400px;
    }

    #review_5 .tooltip-arrow {
      top: $review-5-top + 95;
      left: $review-5-left + 50px;
    }
  }

  section.developers {
    background-color: #252627;

    li {
      padding: 0 0 0 0 !important;
    }

    .circular {
      width: 100px;
      height: 100px;
      border: 6px solid #313233;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;

    }
  }

  .footer-wrapper ul.inline {
    margin-top:45px;
    text-align: center;
  }

  .footer-wrapper a {
    color: white !important;
    font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin-top: 50px;
    margin-right: 10px;
    text-decoration: none;
  }

  .footer-wrapper {
    background-color: #313233;
    position: relative;
    height: 110px;
    min-width: 940px;
    margin-top: -10px;
  }

  .centre
  {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  section ul.inline {
    text-align: center;
    padding: 10px 0 30px 0;
    margin-bottom: 10px;

    li {
      width: 20%;
      vertical-align: top;
      color: white;

      p {
        height: 80px;
      }
    }

  }

  h1 {
    color: white;
  }

  .connect-fb-button {
    margin-right: 30px;

    a {
      background-image: url("/assets/facebook_icon.png");
      background-repeat: no-repeat;
      background-position: 12px center;
      background-size: 24px 24px;
      background-color: #3B5998;
      width: 260px !important;
      float:right;
      margin: -175px auto;
    }

    a:hover {
      background-color: #2F4A84;
    }

    span {
       text-align: center;
       font-weight: 300;
        margin-left: 30px;
    }
  }

  #register {
    margin-top: 50px;
    margin-left: 25px;
  }

  #register ul.inline {
    width:600px;
    height:300px;
  }

  #register li {
    width: 42%;
  }

}