%h1#about About
%b Problem
%br
%br
School is tough. One of the core concepts of studying is taking notes. But what if you take terrible notes? What if your notes are unclear or incomplete? What if you take forever trying to find your notes? What if you have no notes at all?
%br
%br
%b Solution: TheNotist
%br
%br
TheNotist is a platform for you to organize and improve your notes. We provides a minimalist interface that organizes your notes for you so you can get to them fast. The notes are stored in the cloud, so you can access them anywhere, anytime. Our q&a feature allows you and others to collaborate on your notes, clarifying uncertainties that you might have had before. If you don’t have any notes, you can view notes shared by other people. TheNotist is a platform solution designed to simplify the note taking and sharing process.
%hr
%h1#legal Legal
%b Copyright
%br
%br
The three licenses attached to the software we are using are:
%br
* MIT License
%br
* LGPL 3 License
%br
* Apache 2.0
%br
%br
The pieces of software that we are using are license compatible with one another. The LGPL license allows for use with proprietary software without forcing its license on the rest of the source code. The MIT and the APache 2.0 license also do not force this condition.
%br
%br
None of the licenses require that their license be propagated to our source code. Consequently, we are free to choose our own license. We will release under our own proprietary license to protect our intellectual contributions to the web application.
%br
%br
The project involves sharing and capture of third party data. The third party data may be proprietary in nature. The addition and removal of the third party data are up to the user’s discretion, though we provide tools to report and remove data that is infringing in nature. These tools will initiate either an investigation into the data or the removal of the data by the website moderators. The data this is uploaded by the third party will be only available to the parties approved by the uploader. The terms and conditions of the website will provision a list of dos and don’ts for the users to approve before using our web application.
%br
%br
Since this is a design project, it is necessary to explicitly define that the team that originally built the web application will retain ownership of the copyrights after graduation.
%br
%br
%b Industry Standards, Regulations, Norms
%br
%br
The industry standards relevant to our web application are as follows:
%br
%br
%u Web: W3C
%br
%br
Our web application involves creating a website that needs to comply with the standards put forth by the W3C regarding Web Design and Applications. These involve standards for building and rendering Web page using HTML, CSS, and Ajax. Other relevant standards from W3C include Web Architecture standards that focus on the basic building blocks of the Web such as HTTP and URI’s.
%br
%br
%u PDF
%br
%br
This is an open standard that is described in various ISO standards. The main points of interest of the standard are that it doesn’t allow audio or video, no executables or scripts such as JavaScript, and no encryption.
%br
%br
%u Shared Content
%br
%br
Standards and regulations exist for situations where users handle, upload and share content they have no copyrights to. There are multiple ways that companies handle user-uploaded copyrighted material. Youtube, for example, provides functionality to flag content as copyrighted, inappropriate, etc. This is the solution we took in handling inappropriate, uploaded content.
%br
%br
%u Facebook Login
%br
%br
These are standards involving Facebook login. We clearly identify the minimal set of necessary permissions that we require from a user’s profile, and never store any sensitive or personal information such as email addresses. We also perform the user login through Facebook’s own user interface that adheres to their standards for security.
%br
%br
%b Professional Ethics
%br
%br
%u Duty to society
%br
%br
We are offering a service that helps enhance the educational experience of the student population. We make sure the information is high quality, and that the amount of span is minimized. We facilitate the process of content moderation to ensure that user-generated content is not infringing on anyone’s intellectual property.
%br
%br
%u Duty to clients
%br
%br
Our duty is to create a software product that is secure and safe to use. We ensure that the product follows the latest security standards, and that personal information is protected and used in an ethical manner. Our top priorities is to provide good customer service.
%br
%br
%u Duty to the engineering profession
%br
%br
We make sure that the product uses sound engineering practices, and that treatment of confidential or proprietary information follows all legal requirements. Our top priority is to maintain a professional relationship with our customers.
%br
%br
%u Duty to self
%br
%br
Personally, we want to facilitate an engaging and fun work environment that helps yourself and everyone around you learn something new.
%br
%br
%b Philosophical Ethics
%br
%br
%u Virtue
%br
%br
We are investing time and money into the development and maintenance of this product in order to make students’ learning experience more engaging and fruitful. We genuinely believe that this is a noble goal.
%br
%br
%u Rules
%br
%br
We are providing this service to people for free under the assumption that they put their time and knowledge back into using this software. Recurring use of this software can also help generate revenue.
%br
%br
%u Consequences
%br
%br
Education is one of the most important assets that a person can have, and working on something that makes people’s educational experience more productive is a goal that makes the work a better place.
%hr
%h1#faq FAQ
%br
%b What is TheNotist?
%br
%br
TheNotist is a social platform that allows users to organize their notes online. TheNotist provides a minimalist interface and lays out your notes for you in way that is easy to navigate through. You will be able to upload your notes into the cloud and access them anywhere. Feeling confused about your notes? You can share your notes and discuss your notes with your friends. Discussions will be saved on the note and you can easily refer back to them later. TheNotist is available on through any web browser.
%br
%br
%b What file formats does my note have to be?
%br
%br
Currently, TheNotist can only upload pdf files.
%br
%br
%b What can I upload on TheNotist?
%br
%br
You can only upload any document that belongs to you. Documents that are uploaded without the document owner’s permission will be taken from TheNotist.
%br
%br
%b How do I report if someone posted a note that does not belong to them?
%br
%br
In the page that shows the note, there will be a flag button at the top right corner. By selecting this button, you can create a flag report, which will immediately be sent to a staff member for review. The note will be taken down when it is confirmed that the note does not belong to the person who uploaded it.
%br
%br
%b Will TheNotist organization upload notes of their own for users to access?
%br
%br
No. TheNotist is strictly a service that allows users to organize, share, and collaborate on their notes. No notes will be uploaded by TheNotist itself.
%br
%br
%b What are the system requirements?
%br
%br
[FILL IN]
%br
%br
%b Where is TheNotist available?
%br
%br
TheNotist is available anywhere in the world.
%br
%br
%b How do I sign up?
%br
%br
Simply got to our splash page and select the connect button to connect through Facebook.
%br
%br
%b Is it secure?
%br
%br
Your notes will be secure when uploaded on TheNotist. The notes uploaded are stored on servers designed specifically for data storage and security.
%br
%br
%b Can I share notes with friends?
%br
%br
Of course! To share notes with friends, you all need to have an account on TheNotist. Once you all do, you will be able to share your notes with your friends simply by clicking on the note, clicking the share button, and typing in the names of your friends that you want to share the notes with.

