/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$sidebar-trans-time: 0.5s;

#sidebar {

  .sidebar-nav {
    padding-top: 10px;
  }

  .nav-list {
    overflow-x: hidden;
  }

  li {
    line-height: 2.2;

    a {
      /* To make menu text animate out without getting bumped to the next line
         need to set a fixed (arbitrary bigger than sidebar itself) width on
         the parent and hide horizontal overflow in the sidebar container */
      width: 500px;
    }
  }

  .text {
    margin-left: 5px;
  }

  .collapse-button {
    display: block;
    text-align: right;
    margin-right: -10px;
  }  

  &.animate {
    transition-property: width;
    transition-duration: $sidebar-trans-time;

    .sidebar-nav {
      transition-property: padding;
      transition-duration: $sidebar-trans-time;
    }
    .text {
      transition-property: opactiy;
      transition-duration: $sidebar-trans-time;
    }
    .collapse-button i {
      transition-property: transform;
      transition-duration: $sidebar-trans-time;
    }
  }

  &.collapsed {
    width: 46px;

    .sidebar-nav {
      padding-left: 0;
      padding-right: 0;
    }

    .text {
      opacity:0;
    }

    .collapse-button {
      i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}
