/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require flat-ui
 *= require_tree .
 */

body {
  background-color: #3498DB;
}

a.text-link {
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

#main {
  background-color: white;
  padding: 10px;
  margin-top: 17px;
  min-height: 500px;
  border-radius: 6px;
}

#top-nav {
  margin-top: 10px;

  .navbar-search {
    margin-top: 8px;

    input {
      margin-bottom: 0px;
      height: 15px;
    }
  }
}

#account-dropdown {
  position: relative;
  top: 6px;
}

$sidebar-trans-time: 0.5s;

#sidebar {

  .sidebar-nav {
    padding-top: 10px;
  }

  .nav-list {
    overflow: hidden;
  }

  li {
    line-height: 2.2;
    position: relative;

    a {
      text-align: left;
      padding-left: 20px;
      border-radius: 0;
      position: relative;
      overflow: hidden;
    }
  }

  li:first-child a {
    border-radius: 6px 6px 0 0;
  }
    
  li:last-child a {
    border-radius: 0 0 6px 6px;
  }

  .text {
    position:absolute;
    left: 40px;
  }

  .collapse-button {
    display: block;
    text-align: right;
    margin-right: 30px;
  }  

  &.animate {
    -webkit-transition-property: width;
    -webkit-transition-duration: $sidebar-trans-time;
    transition-property: width;
    transition-duration: $sidebar-trans-time;

    .sidebar-nav {
      -webkit-transition-property: padding;
      -webkit-transition-duration: $sidebar-trans-time;
      transition-property: padding;
      transition-duration: $sidebar-trans-time;
    }
    .text {
      -webkit-transition-property: opactiy;
      -webkit-transition-duration: $sidebar-trans-time;
      transition-property: opactiy;
      transition-duration: $sidebar-trans-time;
    }
    .collapse-button i {
      -webkit-transition-property: transform;
      -webkit-transition-duration: $sidebar-trans-time;
      transition-property: transform;
      transition-duration: $sidebar-trans-time;
    }
  }

  &.collapsed {
    width: 82px;

    .sidebar-nav {
      padding-left: 0;
      padding-right: 0;
    }

    .text {
      opacity:0;
    }

    .collapse-button {
      i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}

form.new_user {
  margin-top: 10px;
  margin-bottom: 10px;
}

.account-or-text {
  margin: 15px 0 20px 5px;
}

.account-shared-links {
  line-height: 1.8;

  .btn {
    margin-bottom: 10px;
  }
}
