.subsection
	%ul.note-list
		- activity.trackable.uploaded_thumb_files[0...3].each do |file|
			%li.note-div
				- if activity.trackable and (activity.trackable.shared_with? current_user or activity.user == current_user)
					%a{:'href' => "/notes/#{activity.trackable.id}"}
						.note-image{:style => "background: url(#{file.public_path})"}
				- else
					.note-image{:style => "background: url(#{file.public_path})"}

