.comment-thread-container{:'ng-repeat' => "parentComment in file.comments", :'ng-style' => "{top: commentY(parentComment.line_id)+'px'}"}
  .comment.parent{:'ng-show' => 'expandedCommentLine == parentComment.line_id'}
    %ng-include{:src => '"/assets/comment.html"', :'ng-init' => 'comment = parentComment'}
    .new-reply-panel.comment.reply{:'ng-show' => 'parentComment.showNewReply'}
      .comment-inner
        .profile-container.circular
          .profile-image.circular{:'ng-style' => "{background: 'url(' + currentUser.user_fb_data.profile_image + ') no-repeat'}"}
        .comment-body
          .user
            .name {{currentUser.name}}
          .comment-text
            %input#newcomment.new_comment_text_field{:type => 'textarea', :placeholder => 'Enter your comment here', :'ng-model' => 'parentComment.newReplyText'}
        .bottom
          %a.new-comment-cancel.text-link{:'ng-click' => 'parentComment.showNewReply = false'}
            Cancel
          %a.new-comment-submit.text-link{:'ng-click' => "submitReply(parentComment, file.id, $parent.$index)"}
            Submit
        .clear  
    .comment.reply{:'ng-repeat' => 'comment in parentComment.child_comments' }
      %ng-include{:src => '"/assets/comment.html"'}