.notes-index-page{ :'ng-controller' => 'NotesCtrl', :'ng-init' => 'init()' }
  %h1 Notes

  %ng-include{:src => "'/assets/upload_form.html'"}

  .notes-list-container
    .notes-list
      %ul
        %li.notes-list-item{ :'ng-repeat' => 'note in notes', :'ng-mouseover' => 'note.tooltipHidden = true' }
          %ng-include{:src => "'/assets/grid_item.html'"}
        %li.notes-list-item{ :'ng-repeat' => 'note in sharedNotes' }
          %ng-include{:src => "'/assets/grid_item.html'"}
                  
  .modal-container-container{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
    .modal-container{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
      %a.thumb-container{ :'ng-repeat' => "image in overview.images", :'ng-href' => "{{image.pageUrl}}" }
        %img.thumb-image{ :'ng-src' => "{{image.src}}" }
  .full-screen-overlay{ :'ng-class' => "{hidden: !overview.showing}", :'ng-click' => "hideOverview()" }
