.profile
  = render :partial => 'user_info', :object => @user, :locals => {:show_buttons => true}
  
  .activity-list-container
    - if @activities
      - @activities.each do |a|
        = render 'main/activity', :activity => a
