.comment-inner{:'ng-hide' => "comment.deleted", :'ng-style' => "{opacity: comment.deleteFade ? '0.5' : '1'}"}
  .comment-body
    .user
      .name {{comment.user.name}}
    %textarea.comment-text{:'textarea-autoheight-readonly' => true, :readonly => true} {{comment.text}}
  .bottom
    %a.reply-button.primary.text-link{:'ng-if' => "canReply(comment)", :'ng-click' => "comment.showNewReply = true"}
      Reply
    %a.delete-button.secondary.text-link{:'ng-if' => "comment.owned_by_user", :'ng-click' => "comment.showDeleteConfirm = true"}
      Delete
    .comment-date {{comment.time_string}}
  .clear
  .delete-confirm-panel{:'ng-show' => "comment.showDeleteConfirm"}
    .delete-cancel.btn{:'ng-click' => "comment.showDeleteConfirm = false"} Cancel
    .delete-confirm.btn.btn-danger{:'ng-click' => "deleteComment(comment)"} Delete