.note-item{:'ng-init' => 'itemIndex = $index'}
  %a.big-link{:'ng-if' => 'note.processed && noteDeleteClicked != note.id',:'ng-href' => '/notes/{{note.id}}'}
  .img-preview{:'ng-if' => 'note.processed', :style => 'background: url({{note.uploaded_thumb_files[0].public_path}}) no-repeat 50% 10%'}

  .delete-confirmation{:'ng-if' => 'noteDeleteClicked == note.id'}
    %h3
      Delete this note?
    %a.btn.cancel{:'ng-click' => 'cancelDelete()'}
      Cancel  
    %a.btn.delete{:'ng-if' => 'note.shared', :'ng-click' => 'unsubscribeNote()'}
      Delete
    %a.btn.delete{:'ng-if' => '!note.shared', :'ng-click' => 'deleteNote()'}
      Delete
        

  .process-spinner{:'ng-if' => '!note.processed && !note.aborted && noteDeleteClicked != note.id'}
    %i.icon-refresh.icon-white.icon-spin
    %h2
      Processing {{note.title}}...

  .aborted-notice{:'ng-if' => 'note.aborted && noteDeleteClicked != note.id'}
    %i.icon-exclamation.icon-white
    %h2
      Aborted
    %h4
      Please try again later...

  .info-preview{:'ng-class' => '"color" + itemIndex%7'}
    %h3{:'ng-if' => 'note.processed'}
      .text-link
        {{note.title}}
    %h4.description{:'ng-if' => 'note.processed'}
      {{note.description}}

  .btn-group.appear-hover{:'ng-if' => 'noteDeleteClicked != note.id'}
    %div
      %a{:'ng-click' => 'deleteClickedNote(note, $index)'}
        %i.icon-remove.btn

  #list-footer{:'ng-if' => 'note.processed && noteDeleteClicked != note.id'}
    .big-info
      .contributors
        .profile-container.circular{:'ng-if' => 'note.shared'}
          %img.profile-image.circular{:'ng-src' => '{{note.user.user_fb_data.profile_image}}'}
        %div{:'ng-repeat' => 'contrib in note.contributing_users | orderBy:name | limitTo:3'}
          .profile-container.circular{:'ng-if' => 'contrib.id != currentUser.id'}
            %img.profile-image.circular{:'ng-src' => '{{contrib.user_fb_data.profile_image}}'}
        .profile-container.circular.share-note{:'ng-if' => 'note.contributing_users.length > 3'}
          %span
            {{note.contributing_users.length}}
        .profile-container.circular.share-note{:'ng-if' => '!note.shared', :'ng-click' => 'setSharedNote(note)', "data-toggle" => "modal", "data-target" => ".share-note-form-container" }
          %i.icon-share
    .tiny-info
      %i.icon-comments {{note.comment_count}}

  %div{:'ng-if' => '!note.shared'}
    .tooltip.fade.bottom.in.hidden{:'ng-if' => '!note.tooltipHidden'}
      .tooltip-arrow
      .ui-widget.tooltip-inner
        %input{:id => 'buddies', :type => 'text', :placeholder => "SHARE", :selected => false}

/ %img{:src => "#{note.uploaded_files.first.public_path}"}
