.note-item{:'ng-init' => 'itemIndex = $index'}
  %a.big-link{:'ng-show' => 'note.processed',:'ng-href' => '/notes/{{note.id}}'}
  .img-preview{:'ng-show' => 'note.processed', :style => 'background: url({{note.uploaded_thumb_files[0].public_path}}) no-repeat 50% 10%'}
  .process-spinner{:'ng-show' => '!note.processed'}
    %i.icon-refresh.icon-white.icon-spin
    %h2
      Processing...
  .info-preview{:'ng-class' => '"color" + itemIndex%7'}
    %h2{:'ng-show' => 'note.processed'}
      %a.text-link{:'ng-href' => '/notes/{{note.id}}'} {{note.title}}
    %h2{:'ng-show' => '!note.processed'}
      %a.text-link{:'ng-href' => '#'} {{note.title}}
    %h4.description{:'ng-show' => 'note.processed'}
      {{note.description}}
  .btn-group.appear-hover{:'ng-show' => 'note.processed'}
    %div{:'ng-if' => 'note.shared'}
      %a.btn.usub{:'ng-href' => '{{note.unsubscribe_url}}'}
        %i.icon-remove
    %div{:'ng-if' => '!note.shared'}
      %a{:'ng-click' => 'deleteNote(note, $index)'}
        %i.icon-remove.btn

  #list-footer{:'ng-show' => 'note.processed'}
    .big-info
      .contributors
        %div{:'ng-repeat' => 'contrib in note.contributors'}
          .profile-container.circular
            %img.profile-image.circular{:'ng-src' => 'contrib.user.user_fb_data.profile_image'}
        .profile-container.circular.share-note{:'ng-if' => '!note.shared', :'ng-click' => 'setSharedNote(note)', "data-toggle" => "modal", "data-target" => ".share-note-form-container" }
          %i.icon-plus
    .tiny-info
      %i.icon-comments {{note.comment_count}}

  %div{:'ng-if' => '!note.shared'}
    .tooltip.fade.bottom.in.hidden{:'ng-hide' => 'note.tooltipHidden'}
      .tooltip-arrow
      .ui-widget.tooltip-inner
        %input{:id => 'buddies', :type => 'text', :placeholder => "SHARE", :selected => false}

/ %img{:src => "#{note.uploaded_files.first.public_path}"}
