#notes-main{ :'ng-controller' => 'NotesCtrl', :'ng-init' => 'init()' }
  .notes-header
    %h1 My Library
    .search-box.form-group
      %input.form-control{:type => 'text', :'ng-model' => 'searchText'}
      %span.input-icon.icon-search
    .sorting-options
      %ul
        %li.btn{:'ng-click'=> "setFilter = {shared: NULL}; predicate='created_at'; button='date'; reverse=setReverse('date')", :'ng-class'=>"{ 'active' : button == 'date' }"}
          Date
        %li.btn{:'ng-click'=> "setFilter = {shared: NULL}; predicate='title'; button='name'; reverse=setReverse('name')", :'ng-class'=>"{ 'active' : button == 'name' }"}
          Name
        %li.btn{:'ng-click'=> "setFilter = {shared: false}; button='uploaded'", :'ng-class'=>"{ 'active' : button == 'uploaded' }"}
          Uploaded
        %li.btn{:'ng-click'=> "setFilter = {shared: true}; button='shared'", :'ng-class'=>"{ 'active' : button == 'shared' }"}
          Shared

  .notes-index-page
    .notes-list-container
      .notes-list
        .notes-list-item.upload-form
          %ng-include{:src => "'/client_views/upload_form.html'"}
        .notes-list-item{ :'ng-repeat' => 'note in notes | filter:searchText | filter:setFilter | orderBy:predicate:reverse', :'ng-mouseover' => 'note.tooltipHidden = true' }
          %ng-include{:src => "'/client_views/grid_item.html'"}
        .notes-list-item{ :'ng-repeat' => 'note in sharedNotes' }
          %ng-include{:src => "'/client_views/grid_item.html'"}

  %ng-include{:src => "'/client_views/share_form.html'"}
