%div{:'ng-controller' => 'NoteCtrl', :'ng-init' => "init()", :'left-arrow' => 'decrementPage()', :'right-arrow' => 'incrementPage()', :'escape' => 'showNewComment(false); expandCommentLine(null)'}

  %link{:'ng-repeat' => 'css_file in note.uploaded_css_files', :type => "text/css", :rel => "stylesheet", :'ng-href' => "{{css_file.public_path}}"}

  %ng-include{:src => "'/client_views/share_form.html'"}

  #note-header
    .left
      %h1.note-title {{note.title}}
      .note-owner by {{note.user.name}}
    .right
      .page-counter-text
        Page {{currentPage}} of {{note.uploaded_html_files.length}}
    .right
      .left.outer-circle.next-page{:'ng-click' => 'incrementPage()'}
        %i.icon-angle-right
    .right
      .left.outer-circle.prev-page{:'ng-click' => 'decrementPage()'}
        %i.icon-angle-left
    .right
      .left.outer-circle.flag{"data-toggle" => "modal", "data-target" => ".flag-report-form-container", "analytics-on" => "click", "analytics-event" => "Note Flagged" }
        %i.icon-flag
    .right
      .left.outer-circle.share-note{:'ng-if' => 'note.contributing_users.length > 3'}
        %span
          {{note.contributing_users.length}}
    .right
      .left.profile-container.outer-circle{:'ng-if' => 'note.shared'}
        %img.profile-image.circular{:'ng-src' => '{{note.user.user_fb_data.profile_image}}'}
    .right
      .left.profile-container.outer-circle.share-note{:'ng-if' => '!note.shared', :'ng-click' => 'setSharedNote()', "data-toggle" => "modal", "data-target" => ".share-note-form-container" }
        %i.icon-share
    %div{:'ng-repeat' => 'contrib in note.contributing_users | orderBy:name | limitTo:3'}
      .right
        .left.profile-container.outer-circle{:'ng-if' => 'contrib.id != currentUser.id'}
          %img.profile-image.circular{:'ng-src' => '{{contrib.user_fb_data.profile_image}}'}


  #note-main{:'ng-class' => 'pageShifted ? "shifted" : ""'}
    .note-pages{:'scroll-change-page' => true, :'detect-hash-links' => true}
      .page-chunk{:'ng-repeat' => 'chunk in pageChunks'}
        .page-chunk-contents
          .page{:'ng-repeat' => 'file in chunk.pages', :'ng-init' => 'pageNo = $index + 1 + pageChunkSize*$parent.$index', :'page-buttons-scroll' => true}
            .page-placeholder{:'ng-hide' => 'chunk.visible', :style => "width: 100px", :'placeholder-height' => true}
            .page-contents{:'ng-show' => 'chunk.visible'}
              .file-container
                .page-container
                  %a{ :name => "Page-{{file.page_number}}"}
                  .note-page{:'file-id' => '{{file.id}}'}
                    %div{:'ng-include' => 'file.trusted_path'}
              .comments-container{:'ng-class' => 'expandedCommentLine == null ? "comments-hidden" : ""'}
                .comments
                  %ng-include{:src => '"/client_views/comments.html"'}
    #new-comment-panel.comment{:'ng-show' => 'showingNewComment', :'ng-style' => "{'top': newCommentY+'px' }", :'ng-class' => "submitting ? 'no-animate' : ''"}
      .profile-container.circular
        .profile-image.circular{:'ng-style' => "{background: 'url(' + currentUser.user_fb_data.profile_image + ') no-repeat'}"}
      .comment-inner{:'ng-style' => "{opacity: submitting ? '0.5' : '1'}"}
        .comment-body
          .top
            .user
              .name
                {{currentUser.name}}
          .comment-text
            %textarea#newcomment.new_comment_text_field{:placeholder => 'Enter your comment here', :'ng-model' => 'newCommentText', :'textarea-autoheight' => 'newCommentText', :'textarea-autofocus' => 'showingNewComment', :'ng-enter' => 'showingNewComment && submitParentComment()'}
        .bottom
          %a.new-comment-submit.primary.text-link{:'ng-click' => 'submitParentComment()'}
            Add
          .text-link.secondary.bullet
            %i.icon-circle
          %a.new-comment-cancel.secondary.text-link{:'ng-click' => 'showNewComment(false); newCommentText = null'}
            %i.icon-trash
        .clear

    #note-shift-overlay{:'ng-show' => 'expandedCommentLine != null || showingNewComment', :'ng-click' => 'expandCommentLine(null); showingNewComment = false'}

    .flag-report-form-container.modal.hide.fade{ :role => :dialog, :tabindex => -1, "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
      .form-container.modal-body
        .form-container
          %input{:type => "radio", :'ng-model' => 'flagReport.category', :value => "Legal - Privacy, Copyright, or Other" } Privacy, copyright, or or other legal complaints
          %br
          %input{:type => "radio", :'ng-model' => 'flagReport.category', :value => "Content - Intentionally Inaccurate"} Intentionally inaccurate content
          %br
          %input{:type => "radio", :'ng-model' => 'flagReport.category', :value => "Content - Hateful or Abusive"} Hateful or abusive content
          %br
          %input{:type => "radio", :'ng-model' => 'flagReport.category', :value => "Content - Violent or Repulsive"} Violent or repulsive content
          %input#flag-report-description{:type => 'text', :placeholder => "Explain why this document needs to be flagged", :'ng-model' => 'flagReport.description', "analytics-on" => "click", "analytics-category" => "Flagging", "analytics-event" => "Flag Report Description" }
      .form-container.modal-footer
        .btn.btn-primary.submit-action{ :'ng-click' => "submitReport()" }
          .submit-action-text Send Report
