%div{:'ng-controller' => 'NoteCtrl', :'ng-init' => "init()"}

  %link{:'ng-repeat' => 'css_file in note.uploaded_css_files', :type => "text/css", :rel => "stylesheet", :'ng-href' => "{{css_file.public_path}}"}

  %ng-include{:src => "'/client_views/share_form.html'"}

  #note-header
    %h1.note-title  {{note.title}}
    .note-description {{note.description}}
    .page-number
      .pages
        Page {{currentPage}} of {{note.uploaded_html_files.length}}
      .profile-container.circular.prev-page{:'ng-click' => 'decrementPage()'}
        %i.icon-angle-left
      .profile-container.circular.next-page{:'ng-click' => 'incrementPage()'}
        %i.icon-angle-right
      .profile-container.circular.flag
        %i.icon-exclamation
    .contributors
      .profile-container.circular.share-note{:'ng-if' => '!note.shared', :'ng-click' => 'setSharedNote()', "data-toggle" => "modal", "data-target" => ".share-note-form-container" }
        %i.icon-share
      .profile-container.circular{:'ng-if' => 'note.shared'}
        %img.profile-image.circular{:'ng-src' => '{{note.user.user_fb_data.profile_image}}'}
      %div{:'ng-repeat' => 'contrib in note.contributing_users'}
        .profile-container.circular{:'ng-if' => 'contrib.id != currentUser.id'}
          %img.profile-image.circular{:'ng-src' => '{{contrib.user_fb_data.profile_image}}'}

  #note-main{:'ng-class' => 'pageShifted ? "shifted" : ""'}
    .note-pages{:'infinite-scroll' => 'loadMoreVisiblePages()', :'infinite-scroll-immediate-check' => false, :'infinite-scroll-distance' => 0}
      .page{:'ng-repeat' => 'file in visiblePages', :'page-buttons-scroll' => true}
        .file-container
          .page-container
            %a{ :name => "Page-{{file.page_number}}"}
            .note-page{:'file-id' => '{{file.id}}'}
              %div{:'ng-include' => 'file.trusted_path'}
        .comments-container{:'ng-class' => 'expandedCommentLine == null ? "comments-hidden" : ""'}
          .comments
            %ng-include{:src => '"/client_views/comments.html"'}
    #new-comment-panel.comment{:'ng-show' => 'showingNewComment', :'ng-style' => "{'top': newCommentY+'px' }"}
      .profile-container.circular
        .profile-image.circular{:'ng-style' => "{background: 'url(' + currentUser.user_fb_data.profile_image + ') no-repeat'}"}
      .comment-inner
        .comment-body
          .user
            .name
              {{currentUser.name}}
          .comment-text
            %textarea#newcomment.new_comment_text_field{:placeholder => 'Enter your comment here', :'ng-model' => 'newCommentText', :'textarea-autoheight' => 'newCommentText', :'textarea-autofocus' => 'showingNewComment'}
        .bottom
          %a.new-comment-submit.primary.text-link{:'ng-click' => 'submitParentComment($index)'}
            Add Comment
          %a.new-comment-cancel.secondary.text-link{:'ng-click' => 'showNewComment(false)'}
            Cancel
        .clear

    #note-shift-overlay{:'ng-show' => 'expandedCommentLine != null', :'ng-click' => 'expandCommentLine(null)'}
