.profile{:'ng-controller' => 'ProfileCtrl', :'ng-init' => 'init()'}
  .profile-mast
    %ng-include{:src => "'/client_views/user_info.html'"}
  .profile-header
    .sorting-options
      %ul
        %li.btn{:'ng-click'=> "button='buddies';", :'ng-class'=>"{ 'active' : button == 'buddies' }"}
          Buddies
          %span.notist-badge
            {{user.buddies.length}}
        %li.btn{:'ng-click'=> "button='activity';", :'ng-class'=>"{ 'active' : button == 'activity' }"}
          Activity
        %li.btn{:'ng-click'=> "button='notes';", :'ng-class'=>"{ 'active' : button == 'notes' }"}
          Notes
          %span.notist-badge
            {{user.notes.length}}

  %ng-include{:src => "'/client_views/share_form.html'"}

  .activities-section{:'ng-if'=>"button == 'activity'"}
    .activity-list-container
      %div{:'ng-bind-html' => "activityHtml"}

  .notes-section{:'ng-controller' => 'NotesCtrl', :'ng-init' => "init('Profile', userId)", :'ng-if'=>"button == 'notes'"}
    .notes-list-container
      .notes-list
        .notes-list-item{ :'ng-repeat' => 'note in notes', :'ng-mouseover' => 'note.tooltipHidden = true' }
          %ng-include{:'ng-if' => 'note.accessible', :src => "'/client_views/grid_item.html'"}
        .notes-list-item.unaccessible-notes-container{:'ng-if' => 'all_notes_count && (all_notes_count - notes.length > 0)'}
          .notes-diff-count{:'ng-if' => 'notes.length > 0'} +{{all_notes_count - notes.length}}
          .notes-diff-count{:'ng-if' => 'notes.length == 0'} {{all_notes_count - notes.length}}
          .notes-diff-text{:'ng-if' => 'all_notes_count - notes.length == 1'} Note not shared with you.
          .notes-diff-text{:'ng-if' => 'all_notes_count - notes.length > 1'} Notes not shared with you.

  .buddies-section{:'ng-if'=>"button == 'buddies'"}
    .buddies-list-container
      %ul.buddies-list
        %li.buddies-list-item{ :'ng-repeat' => 'friend in friends'}
          %a{:'ng-href' => '/profile/{{friend.id}}'}
            .overall-section
              .profile-image-section
                .profile-container.circular
                  .profile-image.circular{:'ng-style' => "{background: 'url(' + friend.user_fb_data.profile_image + ') no-repeat'}"}

              .profile-section
                .info
                  %h3.ellipsis
                    {{friend.name}}
                  .small-info
                    .notes-count
                      {{friend.notes.length}} notes
                    .buddies-count
                      {{friend.buddies.length}} buddies


  .settings-section{:'ng-if'=>"button == 'settings'"}

