.share-note-form-container.modal.hide.fade{ :'ng-controller' => 'ShareCtrl', :'ng-init' => "init()", :role => :dialog, :tabindex => -1, "aria-labelledby" => "myModalLabel", "aria-hidden" => true}
  .share-note-container.modal-body
    .form-container
      .form
    %h4 Note Shared With:
    .contributor-list
      .contrib-list-item{:'ng-repeat' => 'contrib in sharedNote.contributing_users'}
        .contrib-info
          .profile-container.circular
            %img.profile-image.circular{:'ng-src' => 'contrib.user_fb_data.profile_image'}
          .profile-link-container
            -# %a{:'ng-href' => '{{profilePath(contrib)}}'} {{contrib.name}}
            {{contrib.name}}
          .delete-contrib
            %i.icon-remove.btn
  .share-interaction.modal-footer
    .error-label.hidden
    .btn.btn-primary.share-button{:'ng-click' => 'shareNote()'}
      %i.icon-share-alt.share-note-icon
        .share-action-text
          Share
