.create-new-note-container{:'ng-controller' => 'UploadCtrl', :'ng-init' => "init()", :'ng-enter' => "submitClicked()"}
  .big-button-container{:'ng-hide' => 'uploadShowing', "data-toggle" => "modal", "data-target" => ".new-note-form-container" }
    .create-new-note-button
      %i.icon-circle-arrow-up.icon-white
      %h2
        Upload a new note
  .big-button-container{:'ng-show' => 'uploadShowing'}
    .create-new-note-button
      %i.icon-refresh.icon-white.icon-spin
      %h2.process
        Uploading...

  .new-note-form-container.modal.hide.fade{ :role => :dialog, :tabindex => -1, "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
    .upload_form-container.modal-body
      .btn.btn-large.select-file.control-group{:'ng-disabled' => '!controlsEnabled', :'ng-class' => "{error: fileError, success: !fileError && modified}", :'ng-simulate-click' => 'file-picker' }
        %i.upload-status-icon{:'ng-class' => "{'icon-plus': fileError || !modified, 'icon-file-alt': !fileError && modified}" }
        .upload-status-text {{statusText}}
        .upload-status-text-secondary {{statusText2}}

      .form-container
        %div{:'ng-bind-html' => 'uploadFormHtml', :compile => true}
        #title-field.text-field.control-group{:'ng-class' => "{error: titleError, success: !titleError && modified}" }
          %input#note-title-field{:name => 'new_note[title]', :type => 'text', :placeholder => "Enter note title", :'ng-model' => 'newNote.title', :'ng-disabled' => '!controlsEnabled', :'ng-keyup' => 'validateUploadForm()'}
          %i.status-icon.success-icon.icon-check-sign{:'ng-hide' => '!validated'}
          %i.status-icon.error-icon.icon-ban-circle.hidden{:'ng-hide' => 'fileError || titleError'}
        #description-field.text-field
          %input#note-description-field{:name => 'new_note[description]', :type => 'text',  :placeholder => "Enter note description (optional)", :'ng-disabled' => '!controlsEnabled', :'ng-model' => 'newNote.description'}


    .upload-interaction.modal-footer
      .processing-label{:'ng-hide' => '!processingShowing'} This can take several minutes. You will be automatically redirected to your note when processing is done.
      .btn.btn-primary.submit-action{:'ng-disabled' => '!controlsEnabled || !validated', :'ng-click' => 'submitClicked()'}
        %i.submit-action-icon.icon-cloud-upload
        .submit-action-text
          %span{ :'ng-hide' => 'uploadShowing || processingShowing'}
            Upload
          %span{ :'ng-hide' => '!uploadShowing'}
            Uploading...
          %span{ :'ng-hide' => '!processingShowing'}
            Processing...
