.sidebar-nav
  .sidebar-inner
    .nav.nav-list
      .logo
        %li
          %a.btn.btn-large.btn-block.notist-logo{:href => '/', :'ng-class' => "{active: section == 'home'}"}
      %li
        %a.btn.btn-large.btn-block{:href => '/profile', :'ng-class' => "{active: section == 'profile'}"}
          %i.icon-user.icon-2x
          .text Profile
      %li
        %a.btn.btn-large.btn-block{:href => '/notes', :'ng-class' => "{active: section == 'notes'}"}
          %i.icon-file.icon-2x
          .text Library

    .nav.nav-list-bottom
      %li{"analytics-on" => "click", "analytics-event" => "Logout"}
        = link_to destroy_user_session_path, :method=>'delete', :class => 'btn btn-large btn-block logout-btn' do
          %i.icon-signout.icon-2x
          .text Logout
      %li{"analytics-on" => "click", "analytics-event" => "Feedback"}
        %a.feedback-btn{:href => "mailto:feedback@notist.co", :class => 'btn btn-large btn-block'}
          %i.icon-bullhorn.icon-2x
          .text Feedback
