.sidebar-nav
  .sidebar-inner
    .nav.nav-list
      .logo
        %li
          %a.btn.btn-large.btn-block.notist-logo{:href => '/', :'ng-class' => "{active: section == 'home'}"}
      %li
        %a.btn.btn-large.btn-block{:href => '/profile', :'ng-class' => "{active: section == 'profile'}"}
          %i.icon-user.icon-2x
          .text Profile
      %li
        %a.btn.btn-large.btn-block{:href => '/notes', :'ng-class' => "{active: section == 'notes'}"}
          %i.icon-file.icon-2x
          .text Notes
	  - if current_user.admin?
		%li
        	%a.btn.btn-large.btn-block{:href => '/admin', :'ng-class' => "{active: section == 'admin'}"}
          		%i.icon-file.icon-2x
          		.text Admin
    .nav.nav-list-bottom
      %li
        %a.btn.btn-large.btn-block{:href => '/settings'}
          %i.icon-cog
          .text Settings
      %li
        - if current_user
          = link_to destroy_user_session_path, :method=>'delete', :class => 'btn btn-large btn-block' do
            %i.icon-signout
            %span.text Logout
        - else
          = link_to new_user_session_path, :class => 'btn btn-large btn-block' do
            %i.icon-signin
            %span.text Login
